{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block style %}

    <link rel="stylesheet" href="/css/login.css">

{% endblock %}

{% block body %}

    <div class="container">
        <div class="row col-md-4 col-md-offset-3">
            <form>
                <div class="form-outline mb-4 form-group">
                    <label class="form-label" for="email">Email</label>
                    <input name="email" id="email" type="email" class="form-control">
                </div>
                <div class="form-outline mb-4 form-group">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" name="password" id="password" class="form-control">
                </div>

                <button id="login" type="submit" class="btn btn-primary btn-block mb-4">Log in</button>
            </form>
        </div>
    </div>

{% endblock %}

{% block footer %}

    <script src="/js/login.js"></script>

{% endblock %}