{% extends "base.html" %}

{% block title %}Setting up DB for the app{% endblock %}

{% block style %}

    <style>
        .formfield {
            width: 40%;
        }
        label{
            width: 80px;
        }
    </style>

{% endblock %}

{% block body %}

    <div class="container">
        <h1>Setting up DB for the app</h1>

        {% if message %}
        <p>Errors: {{ message }}</p>
        {% endif %}

        <form action="/setup/save" method="post">
            <div class="formfield">
                <label for="inputDBHost">Server</label>
                <input type="text" id="inputDBHost" name="dbHost" required autofocus>
            </div>
            <div class="formfield">
                <label for="inputDBUser">Username</label>
                <input type="text" id="inputDBUser" name="dbUser" required>
            </div>
            <div class="formfield">
                <label for="inputDBPassword">Password</label>
                <input type="text" id="inputDBPassword" name="dbPassword" required>
            </div>
            <div class="formfield">
                <label for="inputDBName">Database</label>
                <input type="text" id="inputDBName" name="dbName" required>
            </div>

            <button type="submit" class="btn btn-primary mb-4">Save</button>
        </form>
    </div>

{% endblock %}
